header{
    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(102, 199, 208);
    padding: 8px 8px 8px 48px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
}
header img{
    width: 160px;
    height: auto;
    border-style: ridge;
}
header h1{
    font-size: 1.5rem;
    display: inline;
}
section.cit h2{
    border-bottom: 1px solid #808080;
    padding-bottom: 5px;
    width: 90%;
}
section.cit{
    margin: 48px 0;
}
footer{
    background-color: rgb(102, 199, 208);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    margin: 1% 2.5% 1%;
}
footer p{
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
}