@media only screen and (min-width: 64rem) {

    nav ul li a {
    padding: .6rem 1rem;
    
        }
       
    }
    .gridpic {
        grid-template-columns: 1fr 1fr 1fr;
        border: 1px grey solid;
        border-radius: 10px 10px 10px 10px;

    }

    .gridItem:hover {
        box-shadow: 0 0 30px #333;
        
    }

}