body {
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
}
header, footer {
    margin: 0 auto;
    padding: 0.15rem;
    background-color: #003776;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: #EAEAEA;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.headings {
    display: flex;
    flex-direction: column;
}
.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
    font-family: 'Quicksand', sans-serif;
}
.moto {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.active a {
    color: white;
    background-color: #a3a0ab;
}

.navigation {
    background-color:  #6E8898;
    text-align: center;
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

.navigation a:hover {
    background-color: #1213;
    color: #EAEAEA;
    font-weight: 700;
}

.responsive li {
    display: block;
}

main {
    padding: 0 2%;
    min-height: 20rem;
}

footer {
    background-color: #003776;;
    padding: .5rem 2%;
    text-align: center;
}
