body {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    background-color: #EAEAEA;
    padding: 0;
    margin: 0;
}
/* Small / Baseline view */
header, footer {
    margin: 0 auto;
    padding: 0.15rem;
    background-color: #003776;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: #EAEAEA;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.headings {
    display: flex;
    flex-direction: column;
}
.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
    font-family: 'Quicksand', sans-serif;
}
.moto {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    margin-left: 20px;
}

.heroimg {
 position: relative;
}

img.food , img.mappreston {
    width: 38%;
    margin: auto;
}

img.prestonhi {
    width:100%;
}

header img {
    width: 80px;
    height: auto;
}

.forecast h3 {
    margin: 0 auto;
    text-align: center;
}

.forecast {
    background-color: #6E8898;
    margin: 2% 0;
    text-align: center;
    padding: 2%;
    display: flex;
    max-width: 1200px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.active a {
    color: white;
    background-color: #a3a0ab;
}

.navigation {
    background-color:  #6E8898;
    text-align: center;
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

.navigation a:hover {
    background-color: #1213;
    color: #EAEAEA;
    font-weight: 700;
}

.responsive li {
    display: block;
}

main {
    padding: 0px;
    margin: 5px auto;
    text-align: center; 
    max-width: 750px;
}
main section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}
main h1 {
    background-color:  #6E8898;
}

.article, .contact {
    display: flex;
    flex-wrap: flex;
    flex-direction: column;
    border: solid white;
    background-color: #6E8898;
    padding: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;   
}

.article p {
width: 48%;
}
.weathersummary {
    position: absolute;
    top: 20px;
    left: 20px;
    line-height: .5;
    padding: 5px;
    color: #EAEAEA;
    background: #6E8898;
}

.forcast, img.temp, img.mappreston{
    display: none;
}

.article h2, .contacth2 {
    width: 100%;
}    

footer {
    bottom:0;
    left: 0;
    right: 0;
    height:60px;
    max-width: 80%;          
  }

  footer a {
    color: #EAEAEA;
}
