@media only screen and (min-width: 64rem) {

    nav ul li a {
    padding: .6rem 1rem;
    
        }
       
    }
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin: 0;
        grid-gap: 20px;
    }

    figure {
        margin: 20px 10px
    }

    figure:hover {
        box-shadow: 10px 5px 15px #000000;
    }

