main div.picdiv {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 302px);
    transition: all is;
    align-content: center;
    justify-content: center;
    padding: 20px;
}

main div.picdiv img {
    border-radius: 10px 10px 10px 10px;
}

picture img[data-src] {
    filter: blur(0.2em);
}
  
picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}

main div.picdiv p {
    display: none;
}