@media only screen and (min-width: 64rem) {

    nav ul li a {
    padding: .6rem 1rem;
    
        }
       
    }
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;

    }

    .gallery image:hover {
        box-shadow: 0 0 30px #333;
        
    }
