@media only screen and (min-width: 64rem) {

    nav ul li a {
    padding: .6rem 1rem;
    
        }
        .towns { 
            grid-template-columns: 1fr 1fr 1fr;
        }
        
        img {
            width: 60%;
        }

        #summary {
            position: relative;
            top: 30px;
            left: 100px;
        }
    }