@media only screen and (min-width: 64rem) {

    nav ul li a {
    padding: .6rem 1rem;
    
        }
		header, nav, main, footer {
			max-width: 64rem;
			margin:auto;
		}
	
	
	form label.sbs {
		padding: .4rem 0;
	}
		   
		}
		#galleryGrid {
			grid-template-columns: 1fr 1fr 1fr;
	
		}
	
		.gridItem:hover {
			box-shadow: 0 0 30px #333;
			
		}
		.towns { 
			grid-template-columns: 1fr 1fr 1fr;
		}
		
		img {
			width: 60%;
		}
	