body {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    background-color: #EAEAEA;
    padding: 0;
    margin: 0;
}
/* Small / Baseline view */
header, footer {
    margin: 0 auto;
    padding: 0.15rem;
    background-color: #003776;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: #EAEAEA;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.headings {
    display: flex;
    flex-direction: column;
}
.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
    font-family: 'Montserrat', sans-serif;
    color: #EAEAEA;
}
.moto {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    margin-left: 20px;
}

.heroimg {
 position: relative;
}

img.food , img.mappreston {
    width: 38%;
    margin: auto;
}

img.prestonhi {
    width:100%;
}

header img {
    width: 80px;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.active a {
    color: white;
    background-color: #a3a0ab;
}

.navigation {
    background-color:  #6E8898;
    text-align: center;
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

.navigation a:hover {
    background-color: #1213;
    color: #EAEAEA;
    font-weight: 700;
}

.responsive li {
    display: block;
}


main {
    padding: 0px;
    margin: 5px auto;
    text-align: center; 
    max-width: 750px;
}
main section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}
main h1 {
    color: #EAEAEA;
} 

h2 {
    color: #003776;
}

footer {
	background-color: #003776;
	display: flex;
	color: #fff;
	justify-content: center;
	text-align: center;
	padding: 15px;
	max-width: 470px;
	margin: auto
}

  footer a {
    color: #EAEAEA;
}

.towns{
    display: grid;
    grid-gap: .25rem;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

.towns div {
    margin: auto;
      width: 250px;
      height: 350px;
    background-color: #6E8898;
      color: #EAEAEA;
      padding: 5px;
      border-radius: 5px;
  }
  .towns p{
      padding: 5px;
  }
