@media only screen and (min-width: 64rem) {

    nav ul li a {
    padding: .6rem 1rem;
    
        }
   .mapimg {
     width: 100%
   }
   .container {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid #4C5760;
    border-radius: 10px;
    padding: .50rem;
    color: #4C5760;
    width: 100%;
    max-width: 80rem;
    background-color: #94BFBE;
    margin-left: 100px;
    align-items: center;
}
}

  