header, footer {
    margin: 0 auto;
    padding: 0.15rem;
    background-color: #857C8D ;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #DAD6D6;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.headings {
    display: flex;
    flex-direction: column;
}
.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
    font-family: 'Dancing Script', cursive;
    color: #DAD6D6;;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    background-color: #DAD6D6;
    padding: 0;
    margin: 0;
}

.heroimg {
    position: relative;
   }

   header img {
    width: 80px;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.active a {
    color: white;
    background-color: #4C5760;
}

.navigation {
    background-color: #331832;
    text-align: center;
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.navigation a:hover {
    background-color: #4C5760;
    color: #fff;
    font-weight: 700;
}

.responsive li {
    display: block;
}

.heroimg {
    width: 100%;
}

h2 {
    color: #331832;
    text-align: center; 
}

main {
    padding: 0px;
    margin: 5px auto;
    text-align: center; 
    max-width: 750px;
}
main section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
main h1 {
    background-color:  #6E8898;
    color: #EAEAEA;
}  

footer {
    background-color: #857C8D;
    padding: .5rem 2%;
    text-align: center;
}
