header, footer {
    margin: 0 auto;
    padding: 0.15rem;
    background-color: #857C8D ;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #DAD6D6;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.headings {
    display: flex;
    flex-direction: column;
}
.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
    font-family: 'Dancing Script', cursive;
    color: #DAD6D6;;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    background-color: #DAD6D6;
    padding: 0;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.active a {
    color: #DAD6d6;
    background-color: #4C5760;
}

.navigation {
    background-color: #331832;
    text-align: center;
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.navigation a:hover {
    background-color: #4C5760;
    color: #fff;
    font-weight: 700;
}

.responsive li {
    display: block;
}

h2,h3 {
    color: #4C5760;
    text-align: center;
    font-size: 18pt;
    font-family: 'Dancing Script', cursive; 
}

main {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: auto;
}

main section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
main h1 {
    background-color: #4C5760;
    color: #EAEAEA;
    font-size: 22pt;
}  

.gallery, .gallery1 .img{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.gridgallery, .gridgallery1 {
    max-width: 100%;

}

p {
    font-size: 14pt;
    font-family:'Oswald', sans-serif; 
    text-align: center;
    color:#4C5760;  
}

.box {
    font-size: 14pt;
    font-family:'Oswald', sans-serif; 
    text-align: center;
    color:#4C5760;
    border: 2px solid #4C5760;
    border-radius: 10px;
    -moz-border-radius: 10px ;
    -webkit-border-radius: 10px ; 
    padding: 10px;
    background-color: #94BFBE;
}

.thanks {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: medium;
    color: #4C5760;
    text-align: center;
}

form input.submitBtn {
    border: none;
    background-color: #94BFBE;
    text-align: center;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.sdtemple, .redtemple, .nbtemple, .latemple {
    font-size: 14pt;
    font-family:'Oswald', sans-serif; 
    text-align: center;
    color:#4C5760;
    border: 2px solid #4C5760;
    border-radius: 10px;
    -moz-border-radius: 10px ;
    -webkit-border-radius: 10px ; 
    padding: 10px;
    background-color: #94BFBE;
}

li {
    font-size: 14pt;
    font-family:'Oswald', sans-serif; 
    text-align: center;
    color:#4C5760;
}

footer {
    background-color: #857C8D;
    padding: .5rem 2%;
    text-align: center;
    color: #DAD6D6;
}

